<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.techacademy.wakabayashi.kojiro.taskapp2">

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <!-- 画面スリープ中でもブロードキャストを受け取ることができるようにパーミッションを <uses-permission android:name="android.permission.WAKE_LOCK"/>と指定します。-->

    <!-- application要素に android:name=".TaskApp"を追記します。これはこのアプリのApplicationクラスはこれですよ、と指定するためのものです。ここで指定したクラスのonCreateメソッドがアプリ起動時に呼ばれます。 -->
    <application
        android:name=".TaskApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputActivity"
            android:label="タスク"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.techacademy.wakabayashi.kojiro.taskapp2.MainActivity"/>

        </activity>

        <receiver android:name=".TaskAlarmReceiver"/>

    </application>

</manifest>